.input {
  width: 391px;
  height: 44px;
  padding: 14px;
  background: #FFFFFF;
  border: 1px solid #EFF1F3;
  box-sizing: border-box;
  font-family: SF Pro Display, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #727981;
  margin-bottom: 19px;

  &:focus-visible {
    outline: none;

  }

  &::placeholder {
    opacity: 0.5;
  }
}

.required {
  border: 1px solid red;
}