.submitBtn {
  font-family: SF Pro Display, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
  color: #FFFFFF;
  width: 185px;
  height: 44px;
  background: #0737A0;
  border-radius: 6px;
  border: none;
  cursor: pointer;

}