.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .errorMessage {
    position: absolute;
    width: 369px;
    height: 16px;
    left: 14px;
    top: calc(50% - 16px / 2);
    font-family: SF Pro Display, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    opacity: 0.5;
    text-align: left;
  }

  .form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 808px;

    h2 {
      font-family: SF Pro Display, serif;
      margin-top: 176px;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
    }

    h2:nth-child(3) {
      margin-top: 0;
    }

    .basicInfo,
    .paymentType {
      display: flex;
      position: relative;
      flex-wrap: wrap;
      justify-content: space-between;

      .emailError {
        position: absolute;
        width: 126px;
        height: 16px;
        top: 50px;
        font-family: SF Pro Display,serif;
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 16px;
        right: 265px;
        color: #E53051;

      }
    }
  }
}

.errorModule,
.errorModuleSuccess {
  position: absolute;
  width: 808px;
  height: 44px;
  top: 107px;
  background: #FFFFFF;
  color: #E53051;
  border: 1px solid #E53051;
  box-sizing: border-box;
}

.errorModuleSuccess {
  color: #007E5A;
  border: 1px solid #007E5A;
}
